html {
  background: url("./background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    
    
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    
  }

  .App .textcontainer p {
    font-size: x-large;
    color: white;
    z-index: 1;
  }

  .App button{
    background: #ffffff;
    border-color: #ffffff;
    margin-top: 2%;
    font-size: medium;
  }
  

  /* .AutoComplete {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) 0 2px 4px 1px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;

  } */
  
  /* .AutoComplete input {
    width: 100%;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
  }
  
  .AutoComplete ul::before {
    content: "";
    border-top: 1px solid grey;
  }
  
  .AutoComplete ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
    border-top-color: grey;
  }
  
  .AutoComplete li {
    padding: 10px 5px;
    cursor: pointer;
  }
  
  .AutoComplete li:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.1);
  } */

.Form {
  margin-top: 2%;
}

.Form p{
  margin-top: 2%;
}

.Results {
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px; 
  background-color:rgba(214, 214, 214, 0.877);
  border: white;
  border-width: thin;
  margin-top: 20px;
  text-align: center;
  width: 20%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

.Results .List{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Results .List .ListItem{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
}

.PantrySearch {
  width: 80%;
  height: 20%;
  display: inline-block
}

.textcontainer {
  
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 500px;
  height: 100%;
  
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

